# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# Local directory for built R packages.
# The build has to be specific to the OS and R version,
# so it doesn't make sense to put it in the repo.
lib/

# File to store instance-specific local variables
# governing location of data and adjusting to computational capacities
# of the R setup; see `Rprofile-env-vars-template.txt`, which is
# part of the repo
Rprofile-env-vars.R

.Rproj.user

# should we really be excluding this one from repo? Not sure...
KYhealth.Rproj
