# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# Local directory for built R packages.
# The build has to be specific to the OS and R version,
# so it doesn't make sense to put it in the repo.
lib/

# The data for this project are made available with restrictions
# on a per-user basis, so they'll have to be excluded from the repo.
# Best practice is for .data to be a symbolic link mapping to a
# directory that's kept encrypted until explicitly opened
data
.Rproj.user
